#annotationList {
    width: 180px;
    list-style-type: none;
    padding: 0px;
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 15px;
}

#annotationList li {
    padding: 5px;
    overflow: hidden;
}

.annotationControls {
    float: left;
    margin-right: 10px;
}

.upAnnotation, .downAnnotation, .addAnnotation {
    display: block;
    background-color: transparent;
    border: 0;
    width: 100%;
    font-size: 20px;
}

.annotationProfileThumbanil {
    border-radius: 5px;
    width: 40px;
}

.annotationText {
    margin-top: 0;
}