.top-branding {
    text-align: center;
}


/* login view */
.login-form {
    text-align: center;
}


/* studies list view */
.study-list {
    list-style: none;
    padding: 0;
}

.study-list > li {
    background-color: #eee;
    margin: 1em 0;
    border: 1px solid black;
    border-radius: 15px;
}



/*
    single study view
*/

/* .controls-footer */
.verses {
    /* make room for fixed footer */
    margin-bottom: 83px;
}

.controls-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
}

.controls-footer > div {
    overflow: hidden;
}


/* footer buttons */
.show-filters-btn {
    float: left;
}

.timer-btn {
    float: right;
}



/* modal */
.filter-modal .modal {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -87px;
    margin-left: -150px;
}

.filter-modal .close {
    background-color: #ddd;
    border: none;
    width: 32px;
    height: 32px;
    padding: 0;
    line-height: 33px;
    font-size: 36px;
    position: absolute;
    top: -18px;
    right: -18px;
    color: #555;
}

.filter-modal .close:hover {
    color: #222;
}