/*
    specific styles
*/


.top-branding {
    text-align: center;
}


/* login view */
.login-form {
    text-align: center;
}


/* studies list view */
.study-list {
    list-style: none;
    padding: 0;
}



/* single study view */

.show-filters-btn {
    float: left;
}

.timer-btn {
    float: right;
}

.filter-modal {
    width: 200px;
}


/* Welcome Panel */

.welcomePanel {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 420px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
    padding: 0 15px 15px 15px;
}

.passageSearchPanel {
    background-color: lightgoldenrodyellow;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0 auto;
    width: 370px;
}

.passageSearchPanel label {
    font-size: larger;
}

.passageSearchPanel input {
    height: 40px;
}

.passageSearchPanel button {
    height: 40px;
    width: 70px;
}

/* Activity Feed */

.activityFeedPanel {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 100px;
    width: 420px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 15px 15px 15px;
    overflow: scroll;
}

#activityList {
    list-style-type: none;
    padding-left: 0;
}

#activityList li {
    padding-bottom: 10px;
    overflow: hidden;
}

.profileThumbanil {
    border-radius: 5px;
    width: 75px;
    float: left;
    margin-right: 10px;
}



/**************/
/**  Profile  */
/**************/

.profilePanel {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.userPanel {
    float: left;
    width: 450px;
    padding: 15px;
    margin-right: 10px;
}

.avatarPanel {
    float: left;
    width: 300px;
    height: 300px;
    padding: 15px;
}

.profilePanel label {
    display: block;
    overflow: hidden;
    padding: 0 0 5px 0
}

.profilePanel input,
.profilePanel select {
    float: right;
    width: 250px;
}
