.top-branding {
    text-align: center;
}


/* login view */
.login-form {
    text-align: center;
}


/* studies list view */
.study-list {
    list-style: none;
    padding: 0;
}

.study-list > li {
    background-color: #eee;
    margin: 1em 0;
    border: 1px solid black;
    border-radius: 15px;
}



/*
    single study view
*/

/* .controls-footer */
.verses {
    /* make room for fixed footer */
    margin-bottom: 83px;
}

.controls-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
}

.controls-footer > div {
    overflow: hidden;
}


/* footer buttons */
.show-filters-btn {
    float: left;
}

.timer-btn {
    float: right;
}



/* modal positioning */
.filter-modal .modal {
    width: 300px;
    margin-top: -87px;
    margin-left: -150px;
}


.add-annotation-form {
    width: 600px;
    margin-top: -200px;
    margin-left: -300px;
}


.add-annotation-form textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
}

.add-annotation-form .controls {
    margin-top: 16px;
}

.add-annotation-form .controls label {
    margin-right: 16px;
}

.add-annotation-form blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.add-annotation-form blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.add-annotation-form blockquote p {
  display: inline;
}
