/*
    helper classes
*/


/* no bullets on list */
.no-bullets {
    padding: 0;
    list-style: none;
}

/* .field-row */
.field-row {
    display: block;
    width: 100%;
    margin-top: 1em;
    text-align: left;
    overflow: hidden;
    line-height: 44px;
}

.field-row input,
.field-row select {
    float: right;
}

button.field-row {
    text-align: center;
    line-height: inherit;
}


/* .content-col */
.content-col {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}


/* remove top margin for first heading in box */
.box {
    padding: 1em;
}
.box :first-child {
    margin-top: 0;
}
.box :last-child {
    margin-bottom: 0;
}


/* .modal-backdrop */
.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    background: rgba(0,0,0,.7);
}

.modal-backdrop.active {
    display: block;
}

.modal {
    text-align: left;
    display: inline-block;
    margin: 0 auto;
    background: #eee;
    border: 1em solid #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}