#logo {
    float: left;
}

.loginField {
    display: inline-block;
}

.activityFeed {
    height: 200px;
    background-color: gray;
}

.studyPanel {
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}

.courseTitle {
    display: inline-block;
    margin: 0;
}

.courseDescription {
    font-style: italic;
}

.passagePanel {
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}

.passageContent {
    color: red
}

.annotationTextarea {
    background-color: gray;
}

.annotationList {
    border: 1px solid black;
    background-color: lightgray;
    overflow-y: scroll;
    width: 200px;
    height: 150px;
}

.annotationEntry {
    border-bottom: 1px solid gray;
    padding-left: 30px;
}

.annotationText {

}