* {
    box-sizing: border-box;
}

/**************/
/** Dashboard */
/**************/

.dashboard {
    margin: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* Header */

.dashboardHeader {
    position: relative;
    height: 100px;
}

/* Title Panel */

.titlePanel {
    position: absolute;
}

.logo {
    border-radius: 5px;
}

.productTitle {
    position: absolute;
    top: 0;
    left: 100px;
    width: 250px;
}

/* Login */

.loginPanel {
    border: 1px solid black;
    background-color: lightgray;
    position: absolute;
    right: 0;
    width: 400px;
    top: 15px;
    padding: 20px;
    display: inline-block;
    border-radius: 5px;
}

.loginField {
    display: inline-block;
}

/* Welcome Panel */

.welcomePanel {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 400px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
    padding: 0 15px 15px 15px;
}

.passageSearchPanel {
    background-color: lightgoldenrodyellow;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0 auto;
    width: 350px;
}

.passageSearchPanel label {
    font-size: larger;
}

.passageSearchPanel input {
    height: 40px;
}

.passageSearchPanel button {
    height: 40px;
    width: 70px;
}

/* Activity Feed */

.activityFeedPanel {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 100px;
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 15px 15px 15px;
    overflow: scroll;
}

#activityList {
    list-style-type: none;
    padding-left: 0;
}

#activityList li {
    padding-bottom: 10px;
    overflow: hidden;
}

.profileThumbanil {
    border-radius: 5px;
    width: 75px;
    float: left;
    margin-right: 10px;
}

/**************/
/**  Profile  */
/**************/


.profilePanel {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.userPanel {
    float: left;
    width: 450px;
    padding: 15px;
    margin-right: 10px;
}

.avatarPanel {
    float: left;
    width: 300px;
    height: 300px;
    padding: 15px;
}

.profilePanel label {
    display: block;
    overflow: hidden;
    padding: 0 0 5px 0
}

.profilePanel input,
.profilePanel select {
    float: right;
    width: 250px;
}

/**************/
/** Dashboard */
/**************/

/* Branding */

.brandingPanel {
    background-color: green;
    height: 100px;
}

.activityFeed {
    height: 200px;
    background-color: gray;
}

.studyPanel {
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}

.courseTitle {
    display: inline-block;
    margin: 0;
}

.courseDescription {
    font-style: italic;
}

.passagePanel {
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}

.passageContent {
    color: red
}

.annotationTextarea {
    background-color: gray;
}

.annotationList {
    border: 1px solid black;
    background-color: lightgray;
    overflow-y: scroll;
    width: 200px;
    height: 150px;
}

.annotationEntry {
    border-bottom: 1px solid gray;
    padding-left: 30px;
}

.annotationText {

}